# Virtual Environment
venv/
ENV/
.venv/
env/
*.pyc
__pycache__/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables and Credentials
.env
auth_info_baileys/

# SQLite Database Checkpoints
checkpoints.db*
*.db*

# IDEs and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
